/* Espacement pour éviter que le footer ne colle */
:host {
  display: block;
  padding-bottom: 50px;
}

/* Style de la barre de recherche */
.input-group {
  border-radius: var(--radius-lg);
  overflow: hidden;
  border: 1px solid #eee;
}

.input-group-text, .form-control {
  background-color: white;
  border: none;
  padding: 15px;
}

.form-control:focus {
  box-shadow: none;
  background-color: #fff;
}
