.footer {
    background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;

}
.gradient {
  background: linear-gradient(90deg, #0f2027, #203a43, #2c5364);}
